<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de Convocatoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="convocatoria != null; else sinDatos">
	
	  <ion-card-header>
	    <ion-card-title>{{ convocatoria.titulo }}</ion-card-title>
	    <ion-card-subtitle>Publicado el {{ convocatoria.fechaPublicacion }}</ion-card-subtitle>
	  </ion-card-header>
	
	  <ion-card-content>
	  	<ion-item>
	  		<ion-text color="primary">
	  			<h2>Descripcion</h2>
	  		</ion-text>
	  	</ion-item>
	  	<div [innerHtml]="convocatoria.descripcion | nl2br" >
	  	</div>
	  	<ion-item>
	  		
	  	</ion-item>
	  </ion-card-content>
	
	</ion-card>
	<ng-template #sinRegistros>
	  	<ion-card-content>
	  		<h2>No Hay Registros</h2>
	  	</ion-card-content>
	  </ng-template>
</ion-content>