<ion-header>
  <ion-toolbar>
    <ion-title>Plazas</ion-title>
    <ion-buttons *ngIf="tipo === 'empleador'" slot="end">
	  	<ion-button (click)="PlazaPopover()" >
	  		<ion-icon name="more"></ion-icon>
	  	</ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="tipo === 'usuario'">
	
	  <ion-card-header>
	    <ion-card-title>Plazas Disponibles</ion-card-title>
	    <ion-card-subtitle></ion-card-subtitle>
	  </ion-card-header>
	
	  <ion-card-content>
	   <ion-list *ngIf="plazas != null && plazas.length > 0; else sinRegistro">
	   	<ion-item *ngFor="let plaza of plazas"  [routerLink]="['ver/',plaza._id]" >
	   		<ion-text color="primary">
	   			<h3>{{ plaza.titulo | titlecase }}</h3>
	   			<h4>{{ GetNombreEmpleador(plaza.idEmpleador).nombreCorto | uppercase }}</h4>
	   		</ion-text>
			<ion-label>
			Fecha Pub. {{ plaza.fechaPublicacion }}
			</ion-label>
	   	</ion-item>
	   </ion-list>
	  </ion-card-content>
	
	</ion-card>

	<ion-card *ngIf="(tipo === 'empleador' && empleador != null) || tipo === 'admin' ">
		
	  <ion-card-header>
	    <ion-card-title>{{ empleador != null ? empleador.nombreLargo:'Lista General' | titlecase }}</ion-card-title>
	    <ion-card-subtitle>Plazas Publicadas</ion-card-subtitle>
	  </ion-card-header>
	
	  <ion-card-content>
	  	<ion-item>
	  	<ion-label position="floating">
	  		Ver Plazas Cerradas
	  	</ion-label>
	  	<ion-toggle [(ngModel)]="filtroPlazas" #optFiltro toggle-class="toggle-calm" (ionChange)="On_Toggle_Change(optFiltro)" [disabled]="tipo === 'usuario' || (plazas != null && plazas.length == 0)" value="todas" ></ion-toggle>
	  	</ion-item>
	    <ion-list *ngIf="plazas != null && plazas.length > 0; else sinRegistro">
	    	<ion-item *ngFor="let plaza of plazas" [routerLink]="['ver/',plaza._id]" >
	    		<ion-text color="primary">
		   			<h3>{{ plaza.titulo | titlecase }}</h3>
		   			<h4>{{ plaza.emailPublicador }}</h4>
		   		</ion-text>
		   		<ion-label>
				Fecha Pub. {{ plaza.fechaPublicacion }}
				</ion-label>
	    	</ion-item>
	    </ion-list>
	    <ng-template #sinRegistro>
	    	<ion-text color="secondary">
	    		<h2>No Existen Registros</h2>
	    	</ion-text>
	    </ng-template>
	  </ion-card-content>
	
	</ion-card>

</ion-content>
