<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      First Job
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/company-conference-conferenceroom.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bolsa de Empleo para la R.A.C.C.S.</ion-card-subtitle>
        <ion-card-title>Bienvenidos a First Job</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>First Job es una plataforma que ofrece el servicio de Bolsa de Empleo para egresados de universidad, técnicos y población en general de la R.A.C.C.S. Aquí empresarios que estén interesados podrán publicar sus convocatorias y ver el perfil de profesionales en los que tengan interés en contratarlos.</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/adults-agreement.png" ></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Oportunidades para Todos</ion-card-subtitle>
        <ion-card-title>Acercando a Trabajadores y Empleadores</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>La plataforma facilita un espacio de acercamiento entre empresarios y egresados de todas las carreras de la universitarias, así como personal técnico en busca de un empleo.</p>
      </ion-card-content>
    
    </ion-card>

    <ion-card class="welcome-card" >
    
      <ion-img src="/assets/img/apple-class.png" ></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Asistencia Inicial</ion-card-subtitle>
        <ion-card-title>Crea tu Currículum Vitae</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Encuentra una ayuda oportuna con nuestro asistente para crear tu primer curriculum.</p>
        <p>Si no estás familiarizado con el proceso o no conoces la estructura, te ayudamos a construir tu primer curriculum el que podrás descargar en formato PDF.</p>
      </ion-card-content>
    
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Colaboradores</ion-label>
      </ion-list-header>
      <ion-item href="https://www.unicef.org/es">
        <ion-icon slot="start" color="medium" name="star"></ion-icon>
        <ion-label>UNICEF</ion-label>
        <img class="logo__small" src="/assets/img/unicef-logo.png" alt="">
      </ion-item>
      <ion-item href="http://www.bicu.edu.ni">
        <ion-icon slot="start" color="medium" name="star"></ion-icon>
        <ion-label>BICU</ion-label>
        <img src="/assets/img/logo_bicu.png" class="logo__small" alt="">
      </ion-item>
      <ion-item href="https://www.facebook.com/BICU.Lab/">
        <ion-icon slot="start" color="medium" name="star"></ion-icon>
        <ion-label>Laboratorio de Innovación</ion-label>
        <img src="/assets/img/logo_laboratorio_innovacion.png" class="logo__long" alt="">
      </ion-item>
    </ion-list>
</ion-content>
