<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
    <ion-buttons slot="end">
	  	<ion-button (click)="UserPopover()" >
	  		<ion-icon name="more"></ion-icon>
	  	</ion-button>
	  </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>

<ion-card *ngIf="sinPerfil">

  <ion-card-header>
    <ion-card-title>Sin Perfil de Usuario</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>No ha creado un perfil para su usuario o empresa.</p>
    <p>Presione el icono <ion-icon name="more"></ion-icon> para ver el menú de creación de perfil.</p>
  </ion-card-content>

</ion-card>
  
<ion-card *ngIf="tipoUsuario === 'usuario' && usuario != null">
  <div class="foto-container">
    <ion-img [src]="imageFile"></ion-img>
  </div>
	
  <ion-card-header>
    <ion-card-title>{{ usuario.primerNombre + ' ' + usuario.primerApellido | uppercase }}</ion-card-title>
    <ion-card-subtitle>{{ usuario.email }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>

  	<ion-text color="primary">
  		<h3>Fecha de Nacimiento</h3>
  	</ion-text>
  	<p>{{ usuario.fechaNacimiento }}</p>

	<ion-text color="primary">
  		<h3>Dirección</h3>
  	</ion-text>
  	<p>{{ usuario.direccion | uppercase }}</p>
	<ion-text color="primary"><h3>Teléfonos</h3></ion-text>
	<ion-text *ngFor="let tel of usuario.telefonos">
    <p>
      <ion-icon name="{{ tel.tipo }}"></ion-icon>   {{ tel.numero }}
    </p>
		
	</ion-text>
	<ion-text color="primary">
		<h3>Profesión</h3>
	</ion-text>
	<p>{{ usuario.profesion | uppercase }}</p>
	<ion-text color="primary">
		<h3>Nivel Académico</h3>
	</ion-text>
	<p>{{ userNivel | uppercase }}</p>
	<ion-text color="primary">
		<h3>Sector de Desarrollo</h3>
	</ion-text>
	<p>{{ userSector | uppercase }}</p>
	<ion-text color="primary">
		<h3>Redes Sociales</h3>
	</ion-text>
	<p>Facebook: {{ usuario.facebook }}</p>
	<p>Twitter: {{ usuario.twitter }}</p>
	<p>LinkedIn: {{ usuario.linkedin }}</p>
	<ion-text color="primary">
    <h3>Etnia</h3>
  </ion-text>
  <p>{{ userEtnia | uppercase }}</p>
  <ion-text color="primary">
    <h3>Sexo</h3>
  </ion-text>
  <p>{{ usuario.sexo | uppercase }}</p>
  </ion-card-content>

</ion-card>

<ion-card *ngIf="tipoUsuario === 'empleador' && empleador != null">

  <ion-card-header>
    <ion-card-title>{{ empleador.nombreCorto }}</ion-card-title>
    <ion-card-subtitle>{{ empleador.nombreLargo }}</ion-card-subtitle>
  </ion-card-header>
  <div class="foto-container">
    <ion-img [src]="imageFile"></ion-img>
  </div>
  <ion-card-content>
    <ion-text color="primary">
      <h3>Dirección</h3>
    </ion-text>
    <p>{{ empleador.direccion }}</p>
    <ion-text color="primary">
      <h3>Teléfono</h3>
    </ion-text>
    <p>{{ empleador.telefono }}</p>
    <ion-text color="primary">
      <h3>Correo-e</h3>
    </ion-text>
    <p>{{ empleador.email }}</p>
    <ion-text color="primary">
      <h3>Dirección Web</h3>
    </ion-text>
    <p>{{ empleador.web }}</p>
    <ion-item>
      <ion-label *ngIf="empleador.representante != null" text-wrap>
        <ion-text color="primary">
          <h3>Representante</h3>
        </ion-text>
        <p>{{ empleador.representante.nombre | uppercase }}</p>
        <p>{{ empleador.representante.email }}</p>
        <p>{{ empleador.representante.telefono }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>Enlaces</h3>
        </ion-text>
        <p>Facebook: {{ empleador.facebook }}</p>
        <p>Twitter: {{ empleador.twitter }}</p>
        <p>LinkedIn: {{ empleador.linkedin }}</p>
      </ion-label>
    </ion-item>
    <h4>Sector Económico</h4>
    <p>{{ userSector | uppercase }}</p>
  </ion-card-content>

</ion-card>

</ion-content>
